
<table  class="table table-hover table-sm" >
   
    <thead class="thead">  
        <tr>  
            <th>ID</th> 
            <th>COMPANYNAME</th>  
            <th>STOCK EXCHANGE</th>
            <th>PRICE PER SHARE</th>  
            
            <th>TOTAL NO OF SHARE</th>
            <th>OPENDATE TIME</th>
      
            <th>REMARKS</th>
            <th>DELETE</th>
            <th>UPDATE</th>
              
        </tr>  
    </thead>  
    <tbody>  
         <tr *ngFor="let  ipo of ipoList ">  
            <td>{{ipo.id}}</td>
            <td>{{ipo.companyName}}</td>  
             
            <td>{{ipo.stockExchange}}</td>
            <td>{{ipo.pricePerShare}}</td>  
        
            <td>{{ipo.totalNoOfShare}}</td>
            <td>{{ipo.openDateTime}}</td>
            
            <td>{{ipo.remarks}}</td>
            <td><button (click)="deleteIpo(ipo)"   class="btn btn-danger">Delete</button> </td>
            <td><button (click)="updateIpo(ipo)"   class="btn btn-success">Update</button> </td>
            </tr>
        </tbody>
        </table>
        <a routerLink="/ipos" role="button" class='btn btn-primary'>AddIpo</a>

