.row{
    background-image: url("https://c8.alamy.com/comp/HPG302/business-man-on-digital-stock-market-financial-indicator-background-HPG302.jpg");
    color: floralwhite;
    height: 650px;
    width: 1300px;
    background-size: cover;
}