.row {
    background-image: url("https://www.itl.cat/pngfile/big/0-7755_nature-pier-bridge-d-river-water-sunset-night.jpg");
   
    background-size: cover ;
    height: 550px;
    width:1300px ;
   background-color:lemonchiffon;
   
    
}


