.row{
background-image: url("https://www.99acres.com/microsite/articles/files/2015/09/Commercial-market-gaining-momentum.jpg");
height: 650px;
width: 1300px;
background-size: cover;
color: floralwhite;
}