<div class="row"> 
    
    <div class="col-sm-6">
    
    </div> 
  
    <div class="col-sm-6" > 
       
      <div [hidden]="submitted" style="width: 400px;">  
        <form #savesector1 (ngSubmit)="savesector(savesector1)"  [formGroup]="sectorSaveForm">  
          <div class="form-group">  
            <h3>sector</h3>  
            <label for="name">ID</label>  
            <input type="text" class="form-control"  formControlName="sector_id" data-toggle="tooltip"   
               data-placement="right" title="Enter User Id" >  
            <div class="alert alert-danger" *ngIf = "(sectorSaveForm.get('sector_id').touched) && (sectorSaveForm.get('sector_id').invalid)"   
              style="margin-top: 5px;">  
                <span *ngIf="sectorSaveForm.get('sector_id').errors.required"> User Name is Required</span>  
                  <span *ngIf = "sectorSaveForm.get('sector_id').errors.minlength">   
                      MinLength Error   
                  </span>                     
              </div>  
        </div>  
        <div class="form-group">  
        
            <label for="name">SECTORNAME</label>  
            <input type="text" class="form-control"  formControlName="sector_Name" data-toggle="tooltip"   
               data-placement="right" title="Enter sector name" >  
            <div class="alert alert-danger" *ngIf = "(sectorSaveForm.get('sector_Name').touched) && (sectorSaveForm.get('sector_Name').invalid)"   
              style="margin-top: 5px;">  
                <span *ngIf="sectorSaveForm.get('sector_Name').errors.required"> Sector Name is Required</span>  
                  <span *ngIf = "sectorSaveForm.get('sector_Name').errors.minlength">   
                      MinLength Error   
                  </span>                     
              </div>  
        </div>
        <div class="form-group">  
        
            <label for="name">BRIEF</label>  
            <input type="text" class="form-control"  formControlName="brief" data-toggle="tooltip"   
               data-placement="right" title="Enter sector name" >  
            <div class="alert alert-danger" *ngIf = "(sectorSaveForm.get('brief').touched) && (sectorSaveForm.get('brief').invalid)"   
              style="margin-top: 5px;">  
                <span *ngIf="sectorSaveForm.get('brief').errors.required"> Sector Name is Required</span>  
                  <span *ngIf = "sectorSaveForm.get('brief').errors.minlength">   
                      MinLength Error   
                  </span>                     
              </div>  
        </div>  
         <button type="submit"    class="btn btn-success">Submit</button>  
        </form>
        </div>
        </div>
        </div>
