<html>
  <div class="bg">
    <nav class="navbar navbar-expand-sm  ">
        <ul class="navbar-nav ml-auto">
<li class="nav-item">
    <a class="nav-link" href="/import">ImportData</a>
  </li><li class="nav-item">
  <a class="nav-link" href="/managecompany">Manage Company</a>
</li>
  <li class="nav-item">
    <a class="nav-link" href="/stockexchange">Manage Exchange</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">UpdateIpoDetails</a>
  </li>
  </ul>
  </nav>

  </div>
  </html>
