<html>
  <div class="bg">
    <nav class="navbar navbar-expand-sm  ">
        <ul class="navbar-nav ml-auto">
<li class="nav-item">
    <a class="nav-link" href="/import">ImportData</a>&nbsp;
  </li><li class="nav-item">
  <a class="nav-link" href="/company-list">Manage Company</a>
</li>
  <li class="nav-item">
    <a class="nav-link" href="/stock-list">Manage Exchange</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/stockprice">StockPrice</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/ipos">UpdateIpoDetails</a>
  </li>
  </ul>
  </nav>

  </div>
  </html>
