.navbar a{
font-size: medium;
color: floralwhite;

}
.bg{
    background-image: url("https://previews.123rf.com/images/tzido/tzido1608/tzido160800169/61946594-businessman-standing-over-the-stack-of-gold-coins-and-drawing-over-the-trading-graph-on-the-cityscap.jpg");
    height: 650px;
    width: 1265px;
    background-size: cover;
}