
<div class="row"> 
    
  <div class="col-sm-6"></div>
  

  <div class="col-sm-6" > 
     
    <div [hidden]="submitted" style="width: 400px;">  
      <br>
      <form #saveUser1 (ngSubmit)="saveUser(saveUser1)"  [formGroup]="usersaveform" class="form-container border border-dark p-5 ">  
        <div class="form-group">  
          <h3>{{message}}</h3>
          <label for="name">ID</label>  
          <input type="text" class="form-control"  formControlName="id" data-toggle="tooltip"   
             data-placement="right" title="Enter User Id" >  
          <div class="alert alert-danger" *ngIf = "(usersaveform.get('id').touched) && (usersaveform.get('id').invalid)"   
            style="margin-top: 5px;">  
              <span *ngIf="usersaveform.get('id').errors.required"> User Name is Required</span>  
                <span *ngIf = "usersaveform.get('id').errors.minlength">   
                    MinLength Error   
                </span>                     
            </div>  
      </div>  
          <div class="form-group">  
              <label for="name">User Name</label>  
              <input type="text" class="form-control"  formControlName="userName" data-toggle="tooltip"   
                 data-placement="right" title="Enter User Name" >  
              <div class="alert alert-danger" *ngIf = "(usersaveform.get('userName').touched) && (usersaveform.get('userName').invalid)"   
                style="margin-top: 5px;">  
                  <span *ngIf="usersaveform.get('userName').errors.required"> User Name is Required</span>  
                    <span *ngIf = "usersaveform.get('userName').errors.minlength">   
                        MinLength Error   
                    </span>                     
                </div>  
          </div>  
    
           <div class="form-group">  
              <label for="name"> Email</label>  
              <input type="text" class="form-control" formControlName="email"   
                data-toggle="tooltip" data-placement="right" title="Enter Email">  
                <div class="alert alert-danger" *ngIf = "(usersaveform.get('email').touched) && (usersaveform.get('email').invalid)"   
                style="margin-top: 5px;">  
                  <span *ngIf="usersaveform.get('email').errors.required"> Email is Required</span>  
                    <span *ngIf = "usersaveform.get('email').errors.email">   
                        Invalid Email Format   
                    </span>                     
                </div>  
          </div>  
    
          <div class="form-group">  
            <label for="name"> Password</label>  
            <input type="text" class="form-control" formControlName="password"  
              data-toggle="tooltip" data-placement="right" title="Enter Password">  
              <div class="alert alert-danger" *ngIf = "(usersaveform.get('password').touched) && (usersaveform.get('password').invalid)"   
              style="margin-top: 5px;">  
                <span *ngIf="usersaveform.get('password').errors.required"> Password is Required</span>  
                  <span *ngIf = "usersaveform.get('password').errors.password">   
                      Invalid Password Format   
                  </span>  
                  <span *ngIf = "usersaveform.get('password').errors.minlength">   
                    MinLength Error  
                </span>                    
              </div>  
        </div>  
        <div class="form-group">  
          <label for="name"> MobileNumber</label>  
          <input type="tel" class="form-control" formControlName="mobileNumber" data-toggle="tooltip"  
        data-placement="right" title="Enter mobileNumber">  
            <div class="alert alert-danger" *ngIf = "(usersaveform.get('mobileNumber').touched) && (usersaveform.get('mobileNumber').invalid)"   
            style="margin-top: 5px;">  
              <span *ngIf="usersaveform.get('mobileNumber').errors.required"> mobileNumber is Required</span>  
                <span *ngIf = "usersaveform.get('mobileNumber').errors.mobile_number">   
                    Invalid mobileNumber Format   
                </span> 
                <span *ngIf = "usersaveform.get('mobileNumber').errors.minlength">   
                  MinLength 0f 10 numbers   
              </span>                     
            </div>  
      </div>
      <div class="form-group">  
        <label for="name"> confirmed</label>  
        <input type="tel" class="form-control" formControlName="confirmed"   
          data-toggle="tooltip" data-placement="right" title="Enter confirmed">  
          <div class="alert alert-danger" *ngIf = "(usersaveform.get('confirmed').touched) && (usersaveform.get('confirmed').invalid)"   
          style="margin-top: 5px;">  
            <span *ngIf="usersaveform.get('confirmed').errors.required"> confirmed is Required</span>  
                        
          </div>  
    </div> 
    <div class="form-group">  
      <label for="name"> UserType</label>  
      <input type="text" class="form-control" formControlName="userType"   
        data-toggle="tooltip" data-placement="right" title="Enter UserType">  
        <div class="alert alert-danger" *ngIf = "(usersaveform.get('userType').touched) && (usersaveform.get('userType').invalid)"   
        style="margin-top: 5px;">  
          <span *ngIf="usersaveform.get('userType').errors.required"> UserType is Required</span>  
                      
        </div>  
  </div>  
    
          <button type="submit"    class="btn btn-success">Submit</button>  
        
      </form> 
      <br> 
  </div>  
  </div>  
</div>  