 
  
    <table  class="table table-hover table-sm" >
   
        <thead class="thead-light">  
            <tr>  
                <th>ID</th>  
                <th>USERNAME</th>  
                <th>EMAIL</th>  
                <th>PASSWORD</th>  
                <th>MOBILENUMBER</th>
                <th>USERTYPE</th>
                <th>CONFIRMED</th>
                  
            </tr>  
        </thead>  
        <tbody>  
             <tr *ngFor="let  user of userList ">  
                <td>{{user.id}}</td>  
                <td>{{user.userName}}</td>  
                <td>{{user.email}}</td>  
                <td>{{user.password}}</td>
                <td>{{user.mobileNumber}}</td>
                <td>{{user.userType}}</td>
                <td>{{user.confirmed}}</td>
                
                <td><button (click)="deleteUser(user)"   class="btn btn-danger">Delete</button> </td>
                <td><button (click)="updateUser(user)"   class="btn btn-success">Update</button> </td>
            </tr>
            </tbody>
            </table>
