
  
    <table  class="table table-hover table-sm" >
   
        <thead class="thead">  
            <tr>  
                <th>ID</th>  
                <th>STOCKEXCHANGE</th>  
                <th>BRIEF</th>  
                <th>CONTACTADDRESS</th>  
                <th>REMARKS</th>
                <th>DELETE</th>
                <th>UPDATE</th>
                
               
                  
            </tr>  
        </thead>  
        <tbody>  
             <tr *ngFor="let  stock of stockList ">  
                <td>{{stock.id}}</td>  
                <td>{{stock.stockExchange}}</td>  
                <td>{{stock.brief}}</td>  
                <td>{{stock.contactAddress}}</td>
                <td>{{stock.remarks}}</td>
                <td><button (click)="deleteStock(stock)"   class="btn btn-danger">Delete</button> </td>
                <td><button (click)="updateStock(stock)"   class="btn btn-success">Update</button> </td>
                </tr>
            </tbody>
            </table>
            <a routerLink="/stockexchange" role="button" class='btn btn-primary'>AddCompany</a>
