.bg{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/718/282/457/servers-connection-computer-science-technology-wallpaper-preview.jpg");
    background-size: cover ;
    height: 650px;
    width:1400px 
}

