
<div class="row"> 
    
    <div class="col-sm-6"> </div> 
  
    <div class="col-sm-6" > 
       
      <div [hidden]="submitted" style="width: 400px;">  
        <form #savecompanydata1 (ngSubmit)="savecompanydata(savecompanydata1)"  [formGroup]="companysaveform">  
          <div class="form-group">  
            <h3>CREATE COMPANY</h3>  
            <label for="name">COMPANY NAME</label>  
            <input type="text" class="form-control"  formControlName="companyName" data-toggle="tooltip"   
               data-placement="right" title="Enter  company name" >  
            <div class="alert alert-danger" *ngIf = "(companysaveform.get('companyName').touched) && (companysaveform.get('companyName').invalid)"   
              style="margin-top: 5px;">  
                <span *ngIf="companysaveform.get('companyName').errors.required">Company Name is Required</span>  
                  <span *ngIf = "companysaveform.get('companyName').errors.minlength">   
                      MinLength Error   
                  </span>                     
              </div>  
        </div>
        <div class="form-group">  
          <label for="name">CEO</label>  
          <input type="text" class="form-control"  formControlName="ceo" data-toggle="tooltip"   
             data-placement="right" title="Enter  CEO" >  
          <div class="alert alert-danger" *ngIf = "(companysaveform.get('ceo').touched) && (companysaveform.get('ceo').invalid)"   
            style="margin-top: 5px;">  
              <span *ngIf="companysaveform.get('ceo').errors.required">Ceo is Required</span>  
                <span *ngIf = "companysaveform.get('ceo').errors.minlength">   
                    MinLength Error   
                </span>                     
            </div>  
      </div>
      <div class="form-group">  
        <label for="name">TURNOVER</label>  
        <input type="text" class="form-control"  formControlName="turnOver" data-toggle="tooltip"   
           data-placement="right" title="Enter turnover" >  
        <div class="alert alert-danger" *ngIf = "(companysaveform.get('turnOver').touched) && (companysaveform.get('turnOver').invalid)"   
          style="margin-top: 5px;">  
            <span *ngIf="companysaveform.get('turnOver').errors.required">TURNOVER is Required</span>  
              <span *ngIf = "companysaveform.get('turnOver').errors.minlength">   
                  MinLength Error   
              </span>                     
          </div>  
    </div>
    <div class="form-group">  
      <label for="name">BOARD OF DIRECTORIES</label>  
      <input type="text" class="form-control"  formControlName="boardOfDirectories" data-toggle="tooltip"   
         data-placement="right" title="Enter board of directories" >  
      <div class="alert alert-danger" *ngIf = "(companysaveform.get('boardOfDirectories').touched) && (companysaveform.get('boardOfDirectories').invalid)"   
        style="margin-top: 5px;">  
          <span *ngIf="companysaveform.get('boardOfDirectories').errors.required">board of directories is Required</span>  
            <span *ngIf = "companysaveform.get('boardOfDirectories').errors.minlength">   
                MinLength Error   
            </span>                     
        </div>  
  </div>
  <div class="form-group">  
    <label for="name">STOCKCODE</label>  
    <input type="text" class="form-control"  formControlName="stockCode" data-toggle="tooltip"   
       data-placement="right" title="Enter stock code" >  
    <div class="alert alert-danger" *ngIf = "(companysaveform.get('stockCode').touched) && (companysaveform.get('stockCode').invalid)"   
      style="margin-top: 5px;">  
        <span *ngIf="companysaveform.get('stockCode').errors.required">stockcode  is Required</span>  
          <span *ngIf = "companysaveform.get('stockCode').errors.minlength">   
              MinLength Error   
          </span>                     
      </div>  
</div>
<div class="form-group">  
  <label for="name">BREIF</label>  
  <input type="text" class="form-control"  formControlName="brief" data-toggle="tooltip"   
     data-placement="right" title="Enter brief" >  
  <div class="alert alert-danger" *ngIf = "(companysaveform.get('brief').touched) && (companysaveform.get('brief').invalid)"   
    style="margin-top: 5px;">  
      <span *ngIf="companysaveform.get('brief').errors.required">brief  is Required</span>  
        <span *ngIf = "companysaveform.get('brief').errors.minlength">   
            MinLength Error   
        </span>                     
    </div>  
</div>
<div class="form-group">  
  <label for="name">LIST OF STOCK EXCHANGE</label>  
  <input type="text" class="form-control"  formControlName="listOfStockExchange" data-toggle="tooltip"   
     data-placement="right" title="Enter stock exchange" >  
  <div class="alert alert-danger" *ngIf = "(companysaveform.get('listOfStockExchange').touched) && (companysaveform.get('listOfStockExchange').invalid)"   
    style="margin-top: 5px;">  
      <span *ngIf="companysaveform.get('listOfStockExchange').errors.required">stock exchange  is Required</span>  
        <span *ngIf = "companysaveform.get('listOfStockExchange').errors.minlength">   
            MinLength Error   
        </span>                     
    </div>  
</div>
<div class="form-group">  
  <label for="name">SECTOR</label>  
  <input type="text" class="form-control"  formControlName="sector" data-toggle="tooltip"   
     data-placement="right" title="Enter sector" >  
  <div class="alert alert-danger" *ngIf = "(companysaveform.get('sector').touched) && (companysaveform.get('sector').invalid)"   
    style="margin-top: 5px;">  
      <span *ngIf="companysaveform.get('sector').errors.required">sector is Required</span>  
        <span *ngIf = "companysaveform.get('sector').errors.minlength">   
            MinLength Error   
        </span>                     
    </div>  
</div>
<button type="submit"    class="btn btn-success">Save</button>   
        


    </form>
    </div>
    </div>
    </div>
      